################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/TestError/Debug
/TestTaskQueue/Debug
/Test_Actor/Debug
/Test_ThreadPool/Debug
/Test_Http/Debug
/Test_Board/Debug
/Test_UIActor/Debug
/Test_BuildApp/Debug
/Test_BoardCore/Debug
/Release
/TestError/Release
/TestTaskQueue/Release
/Test_Actor/Release
/Test_Board/Release
/Test_BoardCore/Release
/Test_BuildApp/Release
/Test_Http/Release
/Test_ThreadPool/Release
/Test_UIActor/Release
/Test_JsonScanner/Debug
/Test_StrBuilder/Debug
/Test_Stream/Debug
/Test_fs/Debug
/obj/x64/Debug
/TestError/x64/Debug
/Test_BuildApp/x64/Debug
/Test_BoardCore/x64/Debug
/Test_Board/x64/Debug
/Test_Actor/x64/Debug
/TestTaskQueue/x64/Debug
/Test_UIActor/x64/Debug
/Test_ThreadPool/x64/Debug
/Test_Stream/x64/Debug
/Test_StrBuilder/x64/Debug
/Test_JsonScanner/x64/Debug
/Test_Http/x64/Debug
/Test_fs/x64/Debug
/x64/Debug
/obj/x86/Debug
/bin/x64/Debug
/bin/ARM/Debug
/obj
