################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/TestError/Debug
/TestTaskQueue/Debug
/Test_Actor/Debug
/Test_ThreadPool/Debug
/Test_Http/Debug
/Test_Board/Debug
/Test_UIActor/Debug
/Test_BuildApp/Debug
/Test_BoardCore/Debug
/Release
/TestError/Release
/TestTaskQueue/Release
/Test_Actor/Release
/Test_Board/Release
/Test_BoardCore/Release
/Test_BuildApp/Release
/Test_Http/Release
/Test_ThreadPool/Release
/Test_UIActor/Release
/Test_JsonScanner/Debug
/Test_StrBuilder/Debug
/Test_Stream/Debug
/Test_fs/Debug
